body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .A{
  display: flex;
}

.content-1{
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  /* display:flex;  */
  /* flex-direction:row; */
  /* height: 600px; */
  /* width: 48%; */
/* } */

/* .content-2{ */
  /* overflow-x: hidden; */
  /* display:flex;  */
  /* flex-direction:row; */
  /* width: 48%; */
/* } */ 